<div class="row search-item" *ngFor="let item of searchedData">
    <div class="col-sm-3">
        <a routerLink="/product-details/{{item.id}}">
        <img src="{{item.productImage}}" alt="Image Not Found"></a>

    </div>
    <div class="col-sm-8 details">
         <a routerLink="/product-details/{{item.id}}"><h5 >{{item.productName}}</h5></a>
        <p><b>Rs. {{item.productPrice}}</b></p>
        <p><span>Color: {{item.productColor}}</span><span>Catagory: {{item.productCatagory}} </span></p>
        <p>{{item.description}}</p>
    </div>

</div>