.contaner{
    
}

.sub-contianer{
    text-align: center;
}
.loginbtn{
    color: rgb(4, 4, 248);
    cursor: pointer;
}
.error{
    color: red;
}
.common-form p a{
    color: blue;
    cursor: pointer;
}

.error{
    border-color: red;
}
.sub-contianer h1{
    margin-bottom: 10px;
}
.errorMess{
    color: red;
}
.success{
    color: green;
}
.error{
    
}