<div class="containerss">
    <!-- Login Page Start Here -->
    <div class="sub-contianer" *ngIf="login">
        <h1 class="text">Login Your User Account</h1>
        <form #UserLogin="ngForm" (ngSubmit)="userLogin(UserLogin.value)" class="common-form">
            <!-- <span class="error">{{isEmpity}}</span> -->
            <input ngModel name="userEmail" class="form-item" type="" placeholder="Enter Your Email">
            <input ngModel name="userPassword" class="form-item" type="password" placeholder="Enter Your Password">
            <button class="form-buttom">Log-In</button>
            <span class="error">{{errorMessage}}</span>
            <p>Don't have account? <a (click)="gotoSignUP()" >Sign-Up Here</a></p>
        </form>
    </div>
    <!-- Login Page end Here -->


    <!-- User Registration page start here -->
    <div class="sub-contianer" *ngIf="!login">
        <h1 class="text" *ngIf="!signUp">User Registration</h1>
        <h1 class="success" *ngIf="signUp">{{signUpMessage}}</h1>
        <form #UserSignUp="ngForm" class="common-form" (ngSubmit)="userSignup(UserSignUp.value)">
            <input required ngModel name="username" class="form-item" type="text" placeholder="Enter Your Name">
            <input required ngModel name="userEmail" class="form-item" type="email" placeholder="Enter Your Email">
            <input required ngModel name="userPassword" class="form-item" type="password"
                placeholder="Enter Your Password">
            <button class="form-buttom">Sign-Up</button>
            <p class="errorMess">{{errorMessage}}</p>
            <p>Already have account? <a (click)="gotoLogin()">Login Here</a></p>
        </form>
    </div>
    <!-- User Registration page end here -->

</div>