
h3 {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
span{
    text-align: start;
    font-weight: bold;
    margin-bottom: 10px;
}
.buyer p{
    color: red;
}
.sum {
    color:black
}
.dts{
    border: 1px solid black;
    margin-right: 100px;
    width: 100%;
}
.dss{
    margin-right: 100px;
    width: 100%;
}