<div class="contianer">
    <h1>Your Card </h1>
    <div class="row">
        <div class="col-sm-12 productDet">
            <ul *ngFor="let item of productDetails">
                <img src="{{item.productImage}}" alt="Image Not Found">
                <li><span>Name <br></span>{{item.productName}}</li>
                <li><span>Price <br></span>{{item.productPrice}}</li>
                <li><span>Quantity <br></span>{{item.Qty}}</li>
                <li><button class="form-buttom" (click)="removeFromCard(item.productId)">Remove from card</button></li>
            </ul>
        </div>
        <div class="col-sm-12 productsu">
            <h3>Total</h3>
            <ul class="productSum">
                <li><span>Amount :</span><span>{{priceDetails.price}}</span></li>
                <li><span>Tax(2%) :</span><span>{{priceDetails.tax}}</span></li>
                <li><span>Delivery :</span><span>{{priceDetails.delivery}}</span></li>
                <li><span>Discount(5%) :</span><span>{{priceDetails.discount}}</span></li>
                <hr>
                <li><b><span>Total :</span></b><b><span>{{priceDetails.total}}</span></b></li>
            </ul>
        </div>
        <div class="col-sm-12">
            <button class="form-buttom" routerLink="/buy-product">Order Now</button>
            <button class="form-buttom" (click)="exprotToExcel()">Export to Excel</button>
        </div>
    </div>
</div>
