<!-- <div class="row">
    <div class="col-sm-6">
        <div class="col-sm-9 sub-contianer">
            <table>
                <thead class="tblheader">
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor="let item of productDetails">
                    <td><img src="{{item.productImage}}" alt="Image Not Found"></td>
                    <td>{{item.productName}}</td>
                    <td>{{item.productPrice}}</td>
                    <td>{{item.Qty}}</td>
                    <td><button>Remove From Card </button></td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 description">
        <div class="sub-description">
            <h3>Card Products Details </h3>
        </div>
    </div>
</div> -->

<div class="contianer">
    <h1>Your Card </h1>
    <div class="row">
        <div class="col-sm-12 productDet">
            <ul *ngFor="let item of productDetails">
                <img src="{{item.productImage}}" alt="Image Not Found">
                <li><span>Name <br></span>{{item.productName}}</li>
                <li><span>Price <br></span>{{item.productPrice}}</li>
                <li><span>Quantity <br></span>{{item.Qty}}</li>
                <li><button class="form-buttom" (click)="removeFromCard(item.productId)">Remove from card</button></li>
            </ul>
        </div>
        <div class="col-sm-12 productsu">
            <h3>Total</h3>
            <ul class="productSum">
                <li><span>Amount :</span><span>{{priceDetails.price}}</span></li>
                <li><span>Tax(2%) :</span><span>{{priceDetails.tax}}</span></li>
                <li><span>Delivery :</span><span>{{priceDetails.delivery}}</span></li>
                <li><span>Discount(5%) :</span><span>{{priceDetails.discount}}</span></li>
                <hr>
                <li><b><span>Total :</span></b><b><span>{{priceDetails.total}}</span></b></li>
            </ul>
        </div>
        <div class="col-sm-12">
            <button class="form-buttom">Order Now</button>
            <button class="form-buttom" (click)="exprotToExcel()">Export to Excel</button>
        </div>
    </div>
</div>