<div class="addProductWraper" >
    <h1>Update Product Details</h1>
    <form  #productEdit="ngForm" class="common-form" (ngSubmit)="updateProduct(productEdit.value)">
        <input type="text" placeholder="Enter the Product Catagory" class="form-item" ngModel="{{productDataById.productCatagory}}" name="productCatagory">
        <input type="text" placeholder="Enter Product Name" class="form-item" ngModel="{{productDataById.productName}}" name="productName">
        <input type="text" placeholder="Enter the color of Product" ngModel="{{productDataById.productColor}}" class="form-item"  name="productColor">
        <input type="text" placeholder="Enter the Price of Product" class="form-item" ngModel="{{productDataById.productPrice}}" name="productPrice">
        <textarea type="text" maxlength="200" class="desctextarea" name="description" ngModel="{{productDataById.description}}" placeholder="Describe About Product"></textarea>
        <input type="text" placeholder="Image Url" class="form-item" ngModel="{{productDataById.productImage}}" name="productImage">
        <button class="form-buttom">Update</button>
    </form>
</div>