<nav class="navbar">
    <a class="navigation" href="#"><img src="../../assets/logo.jpg" alt="logo" class="clslogo"></a>

    <div class="search" *ngIf="userType=='defalut'">
        <input type="text" placeholder="Search in Bucket-House" />
        <button>Search</button>
    </div>
    <div class="" [ngSwitch]="userType">

        <ul class="navigation" *ngSwitchCase="'defalut'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/seller-singup-page">Seller-SignUp</a></li>
            <li><a routerLink="">Login</a></li>
            <li><a routerLink="">Card(0)</a></li>
        </ul>

        <ul class="navigation" *ngSwitchCase="'seller'">
            <li class="sellerLogo userName">
                <img src="../../assets/sellerlogo.jpg" alt="logo" class="logoo">
                <span> {{sellerName | uppercase}} </span>
            </li>
            <li><a routerLink="seller-product-add">Add Product</a></li>
            <li><a routerLink="seller-home">Product List</a></li>
            <li><a routerLink="/" (click)="logOut()">Log Out</a></li>
        </ul>
    </div>
</nav>