<div class="footer sm-1">
    <ul>
        <li>
          <a routerLink="/seller-singup-page">Become a Seller</a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Policy" target="_blank">Polices</a>
        </li>
        <li>
          <a href="https://www.termsfeed.com/blog/sample-terms-and-conditions-template/" target="_blank">Terms and Conditions</a>
        </li>
        <li>
          <a href="https://www.google.com/"  target="_blank">Help Center</a>
        </li>
        <li>
            <a href="http://www.google.com/news" target="_blank">News</a>
        </li>
        <li>
            <a href="https://www.facebook.com/" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="https://www.youtube.com/" target="_blank">Youtube</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
      </ul>
      <p>© 2022 Bucket House</p>
      
</div>