.footer{
 /* background-color:rgb(110, 107, 107); */
 background-color: rgb(98, 100, 150);
}
.footer ul {
    list-style-type: none;
    margin-top: 1%;
}
.footer ul li a {
    text-decoration: none;
    color: whitesmoke;
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
