table{
    text-align: left;
    border-collapse: collapse;
}
table td, table th{
    border: 2px solid rgb(180, 205, 241);
    padding: 10px;
    min-width: 100px;
}
img{
    height: 80px;
    padding: 80px;
    margin: 0;
    padding: 10px;
}
button {
    width: 60px;
    height: 35px;
    border-radius: 6px;
    border: 2px solid rgb(180, 205, 241);
    margin-bottom: 20px;
    color: white;
    font: bold;
    cursor: pointer;
}
fa-icon{
    padding: 20px;

}
fa-icon:hover{
    background-color: green;
}
.delte:hover{
    background-color: red;
}
.editIcon{
    margin-bottom: 10px;
}
.deleteIcon{
    margin-top: 10px;
}

.product-list{
    margin-bottom: 10px;
}
/* .table{
    margin-bottom: 10px;
} */