/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(232, 245, 245);
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

/* common from style start here */
.common-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
}

.form-item {
    margin-bottom: 10px;
    height: 25px;
    border-radius: 3px;
    text-align: center;
    color: black;
    border: 2px solid rgb(180, 205, 241);
}

.form-buttom {
    height: 35px;
    border-radius: 6px;
    border: 2px solid rgb(180, 205, 241);
    margin-bottom: 20px;
    background-color: rgb(64, 64, 243);
    color: white;
    font: bold;
    cursor: pointer;

}
/* common form style end here */