body {
    background-color: rgb(219, 245, 245);
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

/* common from style start here */
.common-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
}

.form-item {
    margin-bottom: 10px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    color: black;
    border: 2px solid rgb(180, 205, 241);
}

.form-buttom {
    height: 35px;
    border-radius: 6px;
    border: 2px solid rgb(180, 205, 241);
    margin-bottom: 20px;
    background-color: rgb(113, 113, 240);
    color: white;
    font: bold;
    cursor: pointer;

}
.form-buttom:disabled{
    cursor: not-allowed;
}

/* common form style end here */

/* slider */
.carousel-caption {
    background-color: #8f8d8d82;
    border-radius: 5px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #8f8d8d82;
}

/* slider end here */

.common-error{
    color: red;
    margin-top: -10px;
    font-size: 12px;
    display: flex;
    margin-bottom: 10px;
    justify-content: start;
}
UserLogin:disabled{
    cursor: not-allowed;
}